.cache
.cappa.toml
.coverage
.docker.env
.DS_Store
.env
.favorites.json
.idea/
.sass-cache
.tm_properties
.venv
.virtualenv
*.*~
*.dump
*.log
*.pot
*.pyc
*.wsgi
*~
.direnv
.vscode
/front/node_modules
/front/webpack-stats-dev.json
