{% extends "layout/base.html" %}
{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Un mot de passe est nécessaire" %}{% endblock %}

{% block app %}
<div class="hero-container">
    <div class="hero-panel">
        <h1>{% trans "Cette page est protégée par un mot de passe" %}</h1>

        <form action=""  method="post">

            {% csrf_token %}

            {{ form }}

            <button type="submit" class="button is-blue w-full mt-4">{% trans "Valider" %}</button>

        </form>
    </div>
</div>
{% endblock %}
