{
    "presets": [
        [
            "@babel/preset-env",
            {
                "useBuiltIns": "entry",
                "corejs": "3.2"
            }
        ]
    ],
    "plugins": ["@babel/plugin-proposal-object-rest-spread"]
}
