//$field-background-color: rgb(49, 52, 62);
//$field-color: rgb(249, 249, 249);
//$field-caret-color: rgb(2, 231, 245);
//$field-min-height: 48px;
//$field-line-height: 1.53;

$field-background-color: #f9fafb; // Equal to 'bg-gray-50' from tailwind
$field-color: #212121;
$field-caret-color: #212121;
$field-min-height: 48px;
$field-line-height: 1.53;

$field-border: 1px solid #e5e7eb; // Equal 'border border-gray-200' from tailwindcss
$field-border-radius: 0.25rem; // Equal 'rounded' from tailwindcss
$field-font-size: 16px;
