@import "~include-media/dist/_include-media.scss";

$breakpoints: (
    phone: 640px,
    tablet: 768px,
    desktop: 1024px,
    large: 1280px,
);

// tailwind.config.js breakpoints for reference
/*module.exports = {
    theme: {
        screens: {
        'sm': '640px',
            // => @media (min-width: 640px) { ... }

        'md': '768px',
            // => @media (min-width: 768px) { ... }

        'lg': '1024px',
            // => @media (min-width: 1024px) { ... }

        'xl': '1280px',
            // => @media (min-width: 1280px) { ... }
        }
    }
}*/

.hideOnMobile {
    @include media("<=tablet") {
        display: none;
    }
}

.hideOnTablet {
    @include media("<=desktop") {
        display: none;
    }
    @include media("<=tablet") {
        display: inherit;
    }
}
