@import "~vue-plyr/dist/vue-plyr.css";
@import "~@sass/include_media.scss";

.AssetList {
    display: flex;
    flex-direction: row;
    /*
    !! PLEASE TAKE CARE !!
    The double justify-content below is NOT a mistake.
    IE11 does not support the space-evenly value.
    We first define the center value for IE11 as a fallback.
    Then we define the space-evenly value for modern browser which can handle it,
    and it will take precedence.
    */
    justify-content: center;
    justify-content: space-evenly;
    flex-flow: wrap;
    width: 100%;
    height: auto !important;
}

////////
.AssetElement {
    display: flex;
    padding: 0.5em;
    flex-direction: row;
    flex-shrink: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 3px;
    margin-top: 0.5em;
    border: 1px solid #cfd8dc;

    .button {
        margin: 0;
    }

    @include media(">phone", "<=tablet") {
        flex-direction: column;
    }
}

.AssetElement.ListWithoutImage {
    flex-direction: column;
}

.AssetElement.dz-success {
    background-color: #daffc9;
}
.AssetElement.dz-error {
    background-color: rgba(255, 19, 29, 0.33);
}
.AssetElement.dz-processing {
    background-color: rgba(10, 178, 255, 0.2);
    color: $gray-dark;
}

.AssetElement__Progress {
    display: flex;
    height: 5px;
    width: 100%;
    background-color: $gray-lighter;
    border-radius: 3px;
}

.AssetElement__PercentUpload {
    background-color: $blue;
    height: 100%;
    border-radius: 3px;
}

.AssetElement__Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.AssetElement__Title {
    font-size: 1.1em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.AssetElement__Title.EditInline {
    @apply cursor-pointer;

    &:hover {
        @apply bg-blue-50 rounded;
    }
}

.AssetElement.GridView {
    flex-direction: column;
    width: 300px;

    .AssetElement__Title {
        @apply my-2 py-3 px-2;
    }
}

// eg : unlink confirmation
.AssetElement__Actions__Message {
    padding: 1em;
    background-color: $gray-lighter;
    border-radius: 3px;
    margin-left: 0.4em;
}

.AssetElement__Error {
    background-color: $red;
    color: #fafafa;
    border-radius: 3px;
}

.Asset_IsExternalLink {
    background-color: $gray-lighter;
    color: $gray-dark;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
        font-size: 1.1em;
        text-decoration: underline;
    }
}
